<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developers</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="dashboard-container">
        <!-- Sidebar -->
        <div class="sidebar-dash">
            <h2>LIBRARY DASHBOARD</h2>
            <ul class="nav-dash">
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/return">Return books</a></li>
                <li><a href="/developer" class="active">Developers</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <header class="dashboard-header">
                <h1>DEVELOPERS</h1>
            </header>
            <section class="developer-content">
                <!-- Devesh info-->
                <div class="developer-card">
                    <img src="/static/images/devesh_pic.jpg" alt="Devesh K">
                    <h2>DEVESH K</h2>
                    <p>Vellore Institute of Technology, Chennai</p>
                    <div class="contact-details">
                        <p><strong>Phone:</strong> <a href="tel:+917845151901">7845151901</a></p>
                        <p><strong>Email:</strong> <a href="mailto:devesh.k1203@gmail.com">devesh.k1203@gmail.com</a></p>
                        <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/devesh-k-747059223" target="_blank">LinkedIn Profile</a></p>
                        <p><strong>GitHub:</strong> <a href="https://github.com/treedel" target="_blank">GitHub Profile</a></p>
                    </div>
                </div>
                <!-- Sneha info-->
                <div class="developer-card">
                    <img src="/static/images/sneha_pic.jpg" alt="Sneha Priya S">
                    <h2>SNEHA PRIYA S</h2>
                    <p>Vellore Institute of Technology, Chennai</p>
                    <div class="contact-details">
                        <p><strong>Phone:</strong> <a href="tel:+917305250602">7305250602</a></p>
                        <p><strong>Email:</strong> <a href="mailto:snehamilo0602@gmail.com">snehamilo0602@gmail.com</a></p>
                        <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/sneha-priya-s-75373a277/" target="_blank">LinkedIn Profile</a></p>
                        <p><strong>GitHub:</strong> <a href="https://github.com/Snehaaa0627" target="_blank">GitHub Profile</a></p>
                    </div>
                </div>
                <!-- Priyanga info-->
                <div class="developer-card">
                    <img src="/static/images/doli_pic.jpg" alt="Priyanga K">
                    <h2>PRIYANGA K</h2>
                    <p>Vellore Institute of Technology, Chennai</p>
                    <div class="contact-details">
                        <p><strong>Phone:</strong> <a href="tel:+919884542900">9884542900</a></p>
                        <p><strong>Email:</strong> <a href="mailto:k.priyanga2611@gmail.com">k.priyanga2611@gmail.com</a></p>
                        <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/priyanga-k-4814a8253" target="_blank">LinkedIn Profile</a></p>
                        <p><strong>GitHub:</strong> <a href="https://github.com/Prizz26" target="_blank">GitHub Profile</a></p>
                    </div>
                </div>                
            </section>
        </div>
    </div>
</body>
</html>
